/* GLOBAL */
*{
    padding: 0;
    margin: 0;
}

#canvas{
    width: 100%;
    height: 100%;
      
    position: relative;
    background: transparent;

    cursor: none;
}

/* FIGURE */
figure{
    cursor: none;
}

.icon{
    position: absolute;

    width: 200px;
    height: 200px;
    z-index: 10;

    -webkit-perspective: 500px;
    perspective: 500px;
    cursor: none;
}

.icon__wrapper{
    position: relative;

    width: 100%;
    height:100%;
    overflow: hidden;
}

.icon > figure > img{
    position: absolute;
    top: 50%;
    left: 40%;
    width: 50px;

}

.icon > figure > figcaption{
    position: absolute;
    top: 100%;
    width: 90%;
    text-align: center;
    font-size: 1rem;
    opacity: 0;

    color: #fff;
    background-color: #80acff;
    text-shadow: 1px 1px 3px rgb(0 0 0 / 70%);

    border-radius: 20px;
    padding: 5%;
    
    transform-style: preserve-3d;
    transform: rotateY(-120deg);

    transition: opacity .6s ease, top 1s ease, transform .8s ease;
}
.icon > figure:hover figcaption{
    top: 20px;
    left: 2%;
    opacity: 1;

    transform: rotateY(10deg);
}

/* ICONS   */

/* ICON 1 */
.icon__ladron{
    top: 28%;
    left: 40%;
}
/* ICON 2 */
.icon__residencial{
    top: 15%;
    left: 5%;   
}

/* ICON 3 */
.icon__hogar{
    top: 25%;
    left: 1%; 
}

/* ICON 4 */
.icon__cctv{
    top: 3%;
    right: 12%;
}

/* ICON 5 */
.icon__idea{
    top: 5%;
    right: 30%;
}

/* ICON 6 */
.icon__security{
    top: 20%;
    left: 20%;
}

/* ICON 7 */
.icon__parking{
    top: 30%;
    right: 2%;
}

/* ICON 8 */
.icon__configuracion{
    top: 30%;
    left: 10%;
}

 /* ICON 9 */
.icon__detector{
    top: 10%;
    right: 50%;
}

/* ICON 10 */
.icon__sign{
    top: 15%;
    right: 35%;
}


/* IMAGE */

img{
    border-radius: 50%;
    background-color: rgb(0, 56, 112);
    padding: 3%;

    z-index: 10;

    transition: transform .5s ease, filter .5s ease;
}
img.filter{
    -webkit-filter: invert(90%) hue-rotate(175deg);
    filter: invert(90%) hue-rotate(175deg);
}
img.hovered:hover{
    
    transform: scale(1.5);
}


/* POPUP */
#popup{
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s, visibility .5s;
    -webkit-transition: opacity .5s, visibility .5s;
    opacity: 0;
    
    height: 600px;
    width: 100%;

    -webkit-perspective: 2000px;
    perspective: 2000px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
}
#popup.open{
    opacity: 1;
    visibility: visible;
}
.popup__container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(0 0 0 / 70%);
}

.popup{
    background-color: #ffffff;
    padding: 1% 2% 2% 2%;
    width: 50%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;

    transition: all 0.5s ease-in-out;
    transform-style: preserve-3d;
    transform: rotateY(-60deg);
}

.popup.present{
    transform: rotateY(0deg);
}
.popup.close{
    transform: rotateY(60deg);
}
.popup__close{
    display: flex;
    justify-content: flex-end;
}


/* BUTTON CLOSE */
/* .popup__close a{
    font-size: 1rem;
    background-color: #003870;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
}
.popup__close a:hover{
       
} */

.close__btn {
    height: 50px;
    width: 50px;
    position: relative;
    box-sizing: border-box;
    line-height: 50px;
    display: inline-block;
  }
  .close__btn:before, .close__btn:after {
    transform: rotate(-45deg);
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -25px;
    display: block;
    height: 10px;
    width: 50px;
    background-color: rgb(0, 56, 112);
    transition: all 0.25s ease-out;
  }
  .close__btn:after {
    transform: rotate(-135deg);
  }
  .close__btn:hover:before, .close__btn:hover:after {
    transform: rotate(0deg);
  }




.popup > h2{
    font-size: 1.6rem;
    margin-bottom: 2%;
}
.popup > p{
    font-size: 1.2rem;
    margin-bottom: 3%;
}
/* .popup__btn{
    display: inline-block;
    text-decoration: none;
    color: #000;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 10px 0px;
    transition: .2s all ease-in;
}
.popup__btn:hover{
    background-color: black;
    color: #fff;
} */

/* POPUP BUTTON */
.popup__btn{
    position: relative;
    right: 20px;
    bottom: 20px;
    border:none;
    box-shadow: none;
    width: 130px;
    line-height: 42px;
    display: block;

    margin: 0 0 0 15px;

    -webkit-perspective: 230px;
    perspective: 230px;
  }
  .popup__btn span {
    background: #003870;
    display: block;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    width: 130px;
    height: 40px;
    border-radius: 5px;
    margin:0;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  .popup__btn span:nth-child(1) {
    -webkit-transform: rotateX(90deg);
    -moz-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .popup__btn span:nth-child(2) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: 50% 50% -20px;
    -moz-transform-origin: 50% 50% -20px;
    transform-origin: 50% 50% -20px;
  }
  .popup__btn:hover span:nth-child(1) {
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .popup__btn:hover span:nth-child(2) {
   color: transparent;
    -webkit-transform: rotateX(-90deg);
    -moz-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
  }



    /* media query */
@media screen and (max-width: 1200px) {
    .popup > *{
        padding-bottom: 1%;
    }
}
@media screen and (max-width: 1000px) {
    .popup > *{
        padding-bottom: 1.5%;
    }
}

@media screen and (max-width: 900px) {
    .popup > *{
        padding-bottom: 2%;
    }
}
@media screen and (max-width: 800px) {
    .popup > *{
        padding-bottom: 2.5%;
    }
}